#buttons div {
  display: grid;
  grid-auto-columns: min-content;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  margin-bottom: 40px;
}

#buttons h3 {
  grid-column: span 5;
}

.button {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 12px;
  gap: 8px;
  height: 40px;
  padding: 8px 16px;

  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: uppercase;
  white-space: nowrap;

  svg {
    flex-shrink: 0;
    height: 16px;
    width: 16px;

    pointer-events: none;
  }
}

.button:focus-visible {
  outline: solid 2px var(--neutral-50);
  outline-offset: 2px;
}

.button--primary {
  background-color: var(--neutral-700);
  box-shadow: 0 3px 0 0px var(--neutral-500);
  color: var(--neutral-200);
}

.button--primary:hover {
  background-color: var(--neutral-600);
}

.button--outline {
  background-color: var(--neutral-800);
  border: solid 2px var(--neutral-200);
  box-shadow: 0 3px 0 0px var(--neutral-200);
  color: var(--neutral-200);
}

.button--outline:hover {
  background-color: var(--neutral-700);
}

.button--ghost {
  background-color: transparent;
  color: var(--neutral-200);
}

.button--ghost:hover {
  background-color: var(--neutral-700);
  box-shadow: 0 3px 0 0px var(--neutral-500);
}

.button--link {
  background-color: transparent;
  color: var(--neutral-200);
}

.button--link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button--destructive {
  background-color: var(--neutral-200);
  box-shadow: 0 3px 0 0px var(--neutral-500);
  color: var(--neutral-800);
}

.button--destructive:hover {
  background-color: var(--neutral-400);
}

.button--icon {
  width: 44px;

  svg {
    height: 24px;
    width: 24px;
  }
}

.button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button.focus {
  outline: solid 2px var(--neutral-50);
  outline-offset: 2px;
}

.button.hover {
  background-color: var(--neutral-600);
}

.button.active {
  transform: translateY(2px);
  box-shadow: none;
}
